<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<cdssConfig>
	<generalConfig>
		<computationLimits>
			<nbPredictionPoints>20000</nbPredictionPoints>
			<nbPercentilesPoints>10000</nbPercentilesPoints>
			<nbDosagePossibilities>20000</nbDosagePossibilities>
		</computationLimits>
	</generalConfig>
	<configs>
		<config>
			<configId>vancomycin.colin2019</configId>
			<drugId>vancomycin</drugId>
			<drugModelId>ch.tucuxi.vancomycin.colin2019</drugModelId>
			<description>
			  <desc lang='en'>A pooled population-pharmacokinetic model built in NONMEM based on data from 14 different studies in different patient populations. The pooled dataset contains information across a broad range of patient subgroups ranging from premature neonates to extremely obese patients and from adult Japanese healthy volun-teers to critically ill and trauma patients In total, 8300 vancomycin drug concentrations from 2554 individuals were included in the dataset. Individuals were adults (720), newborns (559), elderly patients (512), obese adults (274), very elderly patients (213), underweight adults, (158) and children and adolescents (118).</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>age</covariateId>
					<covariateType>ageInYears</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>16</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>130</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>18</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>110</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>45</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>135</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>50</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>130</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>sex</covariateId>
					<covariateType>sex</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>scr</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>2000</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>creatinine</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>3000</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>ga</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>19</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>300</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>200</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>pna</covariateId>
					<covariateType>ageInDays</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>50000</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1000</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>40000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>haem</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>lt</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>vancomycin.goti2018</configId>
			<drugId>vancomycin</drugId>
			<drugModelId>ch.tucuxi.vancomycin.goti2018</drugModelId>
			<description>
				<desc lang='en'>Adults with or without hemodialysis</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>age</covariateId>
					<covariateType>ageInYears</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>16</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>130</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>18</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>110</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>45</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>135</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>50</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>130</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>sex</covariateId>
					<covariateType>sex</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>scr</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>2000</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>creatinine</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>3000</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>hemodialysis</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>20</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>10</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>vancomycin.dao2019</configId>
			<drugId>vancomycin</drugId>
			<drugModelId>ch.tucuxi.vancomycin.dao2019</drugModelId>
			<description>
				<desc lang='en'>Neonates up to 6 months, intermittent IV vancomycin</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>ga</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>18</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>47</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>45</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>ageInWeeks</covariateId>
					<covariateType>ageInWeeks</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>32</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>2</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>30</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>10</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>8</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>creatinine_umol</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>10</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>500</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>400</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>vancomycin.lee2021</configId>
			<drugId>vancomycin</drugId>
			<drugModelId>ch.tucuxi.vancomycin.lee2021</drugModelId>
			<description>
				<desc lang='en'>neonates with gestational age up to 45 weeks, internittent iv infusion</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>4.5</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>4</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>clcr</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>20.0</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>10.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>ageInWeeks</covariateId>
					<covariateType>ageInWeeks</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>32</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>2</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>30</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>height</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>10</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>150</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>15</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>80</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>creatinine</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>3000</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1000</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>ga</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>18</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>47</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>45</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>imatinib.gotta2012</configId>
			<drugId>imatinib</drugId>
			<drugModelId>ch.tucuxi.imatinib.gotta2012</drugModelId>
			<description>
				<desc lang='en'>Adult, (Disease: CML and GIST, Age range: 20-88 yrs, Weight range: 44-110kg, AGP plasma concentration range: 0.4–2.0 g/L)</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>age</covariateId>
					<covariateType>ageInYears</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>18</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>90</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>88</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>gist</covariateId>
					<covariateType>standard</covariateType>
					<dataType>bool</dataType>
				</covariate>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>40</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>130</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>44</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>110</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>sex</covariateId>
					<covariateType>sex</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>imatinib.petermann2025</configId>
			<drugId>imatinib</drugId>
			<drugModelId>ch.tucuxi.imatinib.petermann2025</drugModelId>
			<description>
				<desc lang='en'>Newer Imatinib model from Petermann</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>age</covariateId>
					<covariateType>ageInYears</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>18</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>90</value>
							<operator>lt</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>20</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>88</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>

		<config>
			<configId>rifampicin.svensson2017</configId>
			<drugId>rifampicin</drugId>
			<drugModelId>ch.tucuxi.rifampicin.svensson2017</drugModelId>
			<description>
				<desc lang='en'>Rifampicin is an antibiotic used to treat several types of bacterial infections, including tuberculosis (TB). This model focuses on people infected by TB.</desc>
			</description>
			<covariates>
				<covariate>
					<covariateId>bodyweight</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>40.2</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>84.2</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>54</value>
							<operator>gt</operator>
						</constraint>
						<constraint>
							<value>80</value>
							<operator>lt</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>sex</covariateId>
					<covariateType>sex</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>0.0</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>1.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
				<covariate>
					<covariateId>height</covariateId>
					<covariateType>standard</covariateType>
					<dataType>double</dataType>
					<validRange>
						<constraint>
							<value>1.10</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>2.51</value>
							<operator>leq</operator>
						</constraint>
					</validRange>
					<typicalRange>
						<constraint>
							<value>1.50</value>
							<operator>geq</operator>
						</constraint>
						<constraint>
							<value>2.0</value>
							<operator>leq</operator>
						</constraint>
					</typicalRange>
				</covariate>
			</covariates>
		</config>
	</configs>

	<policies>
		<policy>
			<policyId>Romandie</policyId>
			<configList>
				<configId>vancomycin.colin2019</configId>
				<configId>vancomycin.goti2018</configId>
				<configId>vancomycin.dao2019</configId>
				<configId>imatinib.gotta2012</configId>
			</configList>
		</policy>

		<policy>
			<!-- Pediatrics Medical Center de Renens -->
			<policyId>PMC</policyId>
			<configList>
				<configId>vancomycin.dao2019</configId>
				<configId>vancomycin.lee2021</configId>
				<configId>imatinib.gotta2012</configId>
			</configList>
		</policy>

		<policy>
			<!-- Muhimbili National Hospital -->
			<policyId>MNH</policyId>
			<configList>
				<configId>vancomycin.goti2018</configId>
				<configId>vancomycin.lee2021</configId>
				<configId>imatinib.gotta2012</configId>
			</configList>
		</policy>
	</policies>
</cdssConfig>
